!!! 5
%html
  %head
    %title minuet - A small add-on for Twitter Bootstrap
    %link( href="css/screen.css" rel="stylesheet" )
  %body
    %a( href="https://github.com/vitorfs/minuet" )
      %img( src="img/logo-minuet.png" )

    %audio( autoplay )
      %source( src="audio/Aaron Dunn - Minuet - Notebook for Anna Magdalena.mp3" type="audio/mp3" )
      %source( src="audio/Aaron Dunn - Minuet - Notebook for Anna Magdalena.ogg" type="audio/ogg" )

    %p.footnote
      Audio by
      %a( href="http://aarondunn.com/" ) Aaron Dunn
